#header {
    background-color: #393939;
    margin-left: 0px;
    margin-right: 0px;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:30px;
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background-color: #393939;
    color: #FFC6AA;
    text-align: center;
}

.navbar {
    background-color: #393939;
}

.navbar-default {
    border-color: #393939;
}

.navbar-brand {
    padding: 0px;
}

.navbar-collapse {
    background-color: #393939;
}

.media-player {

}

.media-content {
    margin-top: 30px;
    box-shadow: 0px 0px 30px black;
}

.player-media {
    height: 250px;
}

.player-media > div {
    overflow: auto;
    color: black;
    font-size: 8pt;
    background-color: white;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 85%;
    height: 85%;
    margin-top: 15px;
}

.player-media-active > div {
    box-shadow: 0 2px 8px #334;
    background:#FFC6AA;
}

.player-media > div:hover{
   box-shadow: 0 2px 8px #334;
   background: lightgray;
   -webkit-transform: scale(1.05);
   transform: scale(1.05);
   opacity:1;
   cursor: pointer; cursor: hand;
}

.player-media-content-list {
    max-height: 500px;
    overflow: auto;
}

.player-media-content {
    max-height: 500px;
    overflow: auto;
}

.video-js {
    float: right;
}

#update-button {
    cursor: pointer; cursor: hand;
}

.player-nav-button {
    background-color: #393939;
    color: #FFC6AA;
    font-size: 24px;
    text-align: center;
    cursor: pointer; cursor: hand;
    border-style:solid;
    border-width:2px;
    border-color: gray;
}

.player-nav-button-active {
    background-color: gray;
}

.clickeable {

}

.horizontal-divider {

}

.clip-description {
    border-style:solid;
    border-width:2px;
    border-color: gray;
}