<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Video PodCast Feeder</title>
    <meta name="description"
          content="Ajax Video Podcast viewer for CNN content"/>
    <meta name="keywords"
          content="video, audio,  podcast, viewer, feeder, cnn"/>

    <link rel="icon" type="image/png" href="/static/img/favicon.png">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel=stylesheet type="text/css" media="screen" href="/static/css/style.css">

    <script type="text/javascript" src="/static/js/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bower_components/mousetrap/mousetrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bower_components/react/react.js"></script>
    <script type="text/javascript" src="/static/js/all.js"></script>

    <script src="http://jwpsrv.com/library/xD_skOXHEeOOJiIACyaB8g.js"></script>
</head>
<body>
  <header id="header" class="nav navbar-static-top" role="banner">
         <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <div style="color: red; font-size: 18pt;"><span class="glyphicon glyphicon-fire"></span> videoPodcast</div>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                   <div class="clickeable navbar-form navbar-right">
                       <span id="help-button" class="player-nav-button" onclick="videopodcast.UI.openHelp();" style="border-width:0px;color: gray;"><span class="glyphicon glyphicon-question-sign"></span> </span>
                   </div>

                   <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                      <input id="feed-url" type="text" class="form-control" style="width: 350px;" placeholder="Add RSS url" onkeydown="if (event.keyCode == 13) { $('#feed-button').click(); return false; }"/>
                    </div>
                    <input type="button" id="feed-button" type="submit" class="btn btn-default" value="FeEd!"/>
                  </form>

                   <div class="clickeable navbar-form navbar-right">
                       <span id="play-button" onclick="videopodcast.UI.play();" class="player-nav-button">P <span class="glyphicon glyphicon-play"></span> </span>
                       <span id="stop-button" onclick="videopodcast.UI.stop();" class="player-nav-button">S <span class="glyphicon glyphicon-stop"></span> </span>
                       <span id="pause-button" onclick="videopodcast.UI.pause();" class="player-nav-button">SPC <span class="glyphicon glyphicon-pause"></span> </span>
                       <span id="backward-button" onclick="videopodcast.UI.backward();" class="player-nav-button">B <span class="glyphicon glyphicon-backward"></span> </span>
                       <span id="forward-button" onclick="videopodcast.UI.forward();" class="player-nav-button">F <span class="glyphicon glyphicon-forward"></span> </span>
                   </div>

                   <div class="clickeable navbar-form navbar-right">
                       <span id="down-button" onclick="videopodcast.UI.left(true);" class="player-nav-button">D <span class="glyphicon glyphicon-step-backward"></span> </span>
                       <span id="up-button" onclick="videopodcast.UI.right(true);" class="player-nav-button">U <span class="glyphicon glyphicon-step-forward"></span> </span>

                   </div>
                </div>
          </div>
         </nav>
  </header>
  <div id="content" class="jumbotron" style="margin-bottom: 0px; margin-top: 0px;" >
    {% block content %}{% endblock %}
  </div>
  <footer id="footer">
        <span>videopodcast feeder (c) rodrigo</span>
  </footer>

<!-- HELP -->
<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Help</h4>
      </div>
      <div class="modal-body">
        <h2>Keyboard Shortcuts</h2>

        <div class="alert alert-warning">Start typing a feed will disable shortcuts</div>
        <div class="row">
            <div class="col-lg-4"><img height="15px;" src="/static/img/shortcuts.png"/><b>Ctrl+x:</b> Togle shortcuts on/off</div>
            <div class="col-lg-4"><span class="glyphicon glyphicon-question-sign"></span><b>H:</b> Show Help</div>
            <div class="col-lg-4"><span class="glyphicon glyphicon-fire"></span><b>E:</b> Enter url</div>
            <div class="col-lg-4"><span class="glyphicon glyphicon-repeat"></span><b>R:</b> Update Feed</div>
            <div class="col-lg-4"><span class="glyphicon glyphicon-play"></span><b>P:</b> Play current episode</div>
            <div class="col-lg-4"><span class="glyphicon glyphicon-play"></span><b>P:</b> Play current episode</div>
            <div class="col-lg-4"><span class="glyphicon glyphicon-stop"></span><b>S:</b> Stop current episode</div>
            <div class="col-lg-4"><span class="glyphicon glyphicon-pause"></span><b>SPC:</b> Pause currentepisode</div>
            <div class="col-lg-4"><span class="glyphicon glyphicon-backward"></span><b>B:</b> Backward episode</div>
            <div class="col-lg-4"><span class="glyphicon glyphicon-forward"></span><b>F:</b> Forward 10 secons</div>
            <div class="col-lg-4"><span class="glyphicon glyphicon-step-backward"></span><b>D:</b> Previous episode</div>
            <div class="col-lg-4"><span class="glyphicon glyphicon-step-forward"></span><b>U:</b> Next episode</div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>